In [1]:
# Import necessary modules 
import pandas as pd
import numpy as np 
import pymysql
from sqlalchemy import create_engine

In [7]:
# Connect to IronHack database containing our files
#db_engine = create_engine('mysql+pymysql://student:IHisCool!@34.77.233.175/waste')
engine = create_engine('mysql+pymysql://root:xxxxxxxxxxx@localhost/publications')
# Loading in necessary data files
population_data = pd.read_excel('data/2020-stadsdelen.xlsx')
wells = pd.read_csv("data/wells.csv")
container_types = pd.read_csv('data/container_types.csv')
containers = pd.read_csv('data/containers.csv')

In [8]:
population_data.head()

  wijk/std            naam wijk/std  2016  2017  2018  2019  2020
0      NaN                      NaN   NaN   NaN   NaN   NaN   NaN
1      A00    Burgwallen-Oude Zijde  4290  4246  4306  4293  4465
2      A01  Burgwallen-Nieuwe Zijde  3981  3991  3934  4130  4134
3      A02      Grachtengordel-West  6483  6371  6386  6374  6440
4      A03      Grachtengordel-Zuid  5455  5407  5355  5383  5436

In [23]:
wells.head()

,well_id,stadsdeel,buurt_code,well_type,well_neighbourhood,well_address,well_longitude,well_latitude,postal_code
0,2829,F,F86a,Point,86a - Overtoomse Veld Noord,"Jan Evertsenstraat 717, Amsterdam",4.835745,52.369817,NaN
1,3235,F,F86b,Point,86b - Overtoomse Veld Zuid,"Derkinderenstraat 11, Amsterdam",4.840386,52.360623,NaN
2,3493,F,F85a,Point,85a - Oostoever Sloterplas,"Uffizilaan 11, Amsterdam",4.831429,52.366767,NaN
3,3559,F,F85a,Point,85a - Oostoever Sloterplas,"Guggenheimlaan 59, Amsterdam",4.829438,52.367816,NaN
4,3565,F,F85a,Point,85a - Oostoever Sloterplas,"Mezquitalaan 43, Amsterdam",4.831705,52.369232,NaN

In [10]:
container_types.head()

   container_type_id                                   name  volume  weight
0                  9                           HMS rest 5M3     5.0   500.0
1                 27  Nieuw-West (SV)  Rest 5m3 TR Opl inst     5.0   700.0
2                 41                      Nieuw west Papier     4.0   650.0
3                 48                    Nieuw west rest 5m3     5.0   700.0
4                 59                      Bovengrondse Glas     3.0   350.0

In [27]:
# Only selected active containers for the analysis of container distribution based on current population
containers = containers.loc[containers['active']==1]
containers.head()

,Unnamed: 0,_display,_links.self.href,active,address,container_type.id,container_type.name,container_type.volume,container_type.weight,id,...,well.geometrie.coordinates.0,well.geometrie.coordinates.1,well.geometrie.type,well.geometrie_rd.coordinates.0,well.geometrie_rd.coordinates.1,well.geometrie_rd.type,well.id,well.id_number,well.serial_number,well.site
0,0,Container object (3888),https://api.data.amsterdam.nl/afval/v1/contain...,1,"Reimerswaalstraat 22, Amsterdam",27,Nieuw-West (SV) Rest 5m3 TR Opl inst,5.0,700.0,3888,...,4.793864,52.363042,Point,114584.795600,486293.453202,Point,3887.0,WLREF31196,554143,114585-486293-F82a
1,1,Container object (3890),https://api.data.amsterdam.nl/afval/v1/contain...,1,"Reimerswaalstraat 22, Amsterdam",138,Nieuw-West papier 5m3,5.0,650.0,3890,...,4.793854,52.363060,Point,114584.131408,486295.528253,Point,3889.0,WLPAF32018,WL661844,114585-486293-F82a
2,2,Container object (4046),https://api.data.amsterdam.nl/afval/v1/contain...,1,"Blankenbergestraat 14, Amsterdam",1994,5TV1423R G2 KH BEL PAP TROPL 4/6,5.0,700.0,4046,...,4.801099,52.346473,Point,115062.710016,484445.966384,Point,4045.0,WLPAF60317,WLPAF60317,115063-484448-F88e
3,3,Container object (4048),https://api.data.amsterdam.nl/afval/v1/contain...,1,"Antwerpenbaan 8, Amsterdam",27,Nieuw-West (SV) Rest 5m3 TR Opl inst,5.0,700.0,4048,...,4.805253,52.345334,Point,115344.769279,484316.924881,Point,4047.0,REF60325,REF60325,115345-484317-F88e
4,4,Container object (4086),https://api.data.amsterdam.nl/afval/v1/contain...,1,"Oudenaardeplantsoen 13, Amsterdam",27,Nieuw-West (SV) Rest 5m3 TR Opl inst,5.0,700.0,4086,...,4.801831,52.347786,Point,115113.747415,484591.672412,Point,4085.0,WLREF60725,WLREF60725,115115-484595-F88e

In [32]:
#rename well.id to well_id
containers = containers.rename(columns={'well.id': 'well_id'})

In [33]:
# merged the container and wells datasets to match containers to neightbourhood code
merged_data = pd.merge(containers, wells, on = 'well_id')
merged_data

,Unnamed: 0,_display,_links.self.href,active,address,container_type.id,container_type.name,container_type.volume,container_type.weight,id,...,well.serial_number,well.site,stadsdeel,buurt_code,well_type,well_neighbourhood,well_address,well_longitude,well_latitude,postal_code
0,0,Container object (3888),https://api.data.amsterdam.nl/afval/v1/contain...,1,"Reimerswaalstraat 22, Amsterdam",27,Nieuw-West (SV) Rest 5m3 TR Opl inst,5.00,700.0,3888,...,554143,114585-486293-F82a,F,F82a,Point,82a - Osdorp Midden Noord,"Reimerswaalstraat 22, Amsterdam",4.793864,52.363042,NaN
1,1,Container object (3890),https://api.data.amsterdam.nl/afval/v1/contain...,1,"Reimerswaalstraat 22, Amsterdam",138,Nieuw-West papier 5m3,5.00,650.0,3890,...,WL661844,114585-486293-F82a,F,F82a,Point,82a - Osdorp Midden Noord,"Reimerswaalstraat 22, Amsterdam",4.793854,52.363060,NaN
2,2,Container object (4046),https://api.data.amsterdam.nl/afval/v1/contain...,1,"Blankenbergestraat 14, Amsterdam",1994,5TV1423R G2 KH BEL PAP TROPL 4/6,5.00,700.0,4046,...,WLPAF60317,115063-484448-F88e,F,F88e,Point,88e - Nieuw Sloten Noordwest,"Blankenbergestraat 14, Amsterdam",4.801099,52.346473,NaN
3,3,Container object (4048),https://api.data.amsterdam.nl/afval/v1/contain...,1,"Antwerpenbaan 8, Amsterdam",27,Nieuw-West (SV) Rest 5m3 TR Opl inst,5.00,700.0,4048,...,REF60325,115345-484317-F88e,F,F88e,Point,88e - Nieuw Sloten Noordwest,"Antwerpenbaan 8, Amsterdam",4.805253,52.345334,NaN
4,4,Container object (4086),https://api.data.amsterdam.nl/afval/v1/contain...,1,"Oudenaardeplantsoen 13, Amsterdam",27,Nieuw-West (SV) Rest 5m3 TR Opl inst,5.00,700.0,4086,...,WLREF60725,115115-484595-F88e,F,F88e,Point,88e - Nieuw Sloten Noordwest,"Oudenaardeplantsoen 13, Amsterdam",4.801831,52.347786,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12809,14292,Container object (125303),https://api.data.amsterdam.nl/afval/v1/contain...,1,"Karel Doormanstraat 111, Amsterdam",412,MCB Bovengrondse Glas,4.00,386.0,125303,...,WLGLB00076,119162-488116-E37d,E,E37d,Point,37d - Landlust Zuid,"Karel Doormanstraat 111, Amsterdam",4.860868,52.379729,NaN
12810,14293,Container object (125306),https://api.data.amsterdam.nl/afval/v1/contain...,1,"Julius Pergerstraat 2, Amsterdam",3588,5m3 KHC Rest Amsterdam Standaard 1192*1192*2341,4.69,500.0,125306,...,WLREM16920,NaN,M,M51c,Point,51c - Haveneiland Noord,"Julius Pergerstraat 2, Amsterdam",5.002299,52.351908,NaN
12811,14294,Container object (125308),https://api.data.amsterdam.nl/afval/v1/contain...,1,"Julius Pergerstraat 2, Amsterdam",3588,5m3 KHC Rest Amsterdam Standaard 1192*1192*2341,4.69,500.0,125308,...,WLREM16921,NaN,M,M51c,Point,51c - Haveneiland Noord,"Julius Pergerstraat 2, Amsterdam",5.002318,52.351920,NaN
12812,14295,Container object (125310),https://api.data.amsterdam.nl/afval/v1/contain...,1,"Julius Pergerstraat 128, Amsterdam",3588,5m3 KHC Rest Amsterdam Standaard 1192*1192*2341,4.69,500.0,125310,...,WLREM16922,NaN,M,M51c,Point,51c - Haveneiland Noord,"Julius Pergerstraat 128, Amsterdam",5.002338,52.351940,NaN
12813,14296,Container object (125312),https://api.data.amsterdam.nl/afval/v1/contain...,1,"Julius Pergerstraat 128, Amsterdam",3588,5m3 KHC Rest Amsterdam Standaard 1192*1192*2341,4.69,500.0,125312,...,WLREM16923,NaN,M,M51c,Point,51c - Haveneiland Noord,"Julius Pergerstraat 128, Amsterdam",5.002357,52.351955,NaN

In [39]:
# Cleand up the 'buurt_code' into new column called 'buurt_clean' to group by countainers and count
merged_data['buurt_clean'] = merged_data['buurt_code'].str.slice(0, 3, 1)
merged_data

,Unnamed: 0,_display,_links.self.href,active,address,container_type.id,container_type.name,container_type.volume,container_type.weight,id,...,well.site,stadsdeel,buurt_code,well_type,well_neighbourhood,well_address,well_longitude,well_latitude,postal_code,buurt_clean
0,0,Container object (3888),https://api.data.amsterdam.nl/afval/v1/contain...,1,"Reimerswaalstraat 22, Amsterdam",27,Nieuw-West (SV) Rest 5m3 TR Opl inst,5.00,700.0,3888,...,114585-486293-F82a,F,F82a,Point,82a - Osdorp Midden Noord,"Reimerswaalstraat 22, Amsterdam",4.793864,52.363042,NaN,F82
1,1,Container object (3890),https://api.data.amsterdam.nl/afval/v1/contain...,1,"Reimerswaalstraat 22, Amsterdam",138,Nieuw-West papier 5m3,5.00,650.0,3890,...,114585-486293-F82a,F,F82a,Point,82a - Osdorp Midden Noord,"Reimerswaalstraat 22, Amsterdam",4.793854,52.363060,NaN,F82
2,2,Container object (4046),https://api.data.amsterdam.nl/afval/v1/contain...,1,"Blankenbergestraat 14, Amsterdam",1994,5TV1423R G2 KH BEL PAP TROPL 4/6,5.00,700.0,4046,...,115063-484448-F88e,F,F88e,Point,88e - Nieuw Sloten Noordwest,"Blankenbergestraat 14, Amsterdam",4.801099,52.346473,NaN,F88
3,3,Container object (4048),https://api.data.amsterdam.nl/afval/v1/contain...,1,"Antwerpenbaan 8, Amsterdam",27,Nieuw-West (SV) Rest 5m3 TR Opl inst,5.00,700.0,4048,...,115345-484317-F88e,F,F88e,Point,88e - Nieuw Sloten Noordwest,"Antwerpenbaan 8, Amsterdam",4.805253,52.345334,NaN,F88
4,4,Container object (4086),https://api.data.amsterdam.nl/afval/v1/contain...,1,"Oudenaardeplantsoen 13, Amsterdam",27,Nieuw-West (SV) Rest 5m3 TR Opl inst,5.00,700.0,4086,...,115115-484595-F88e,F,F88e,Point,88e - Nieuw Sloten Noordwest,"Oudenaardeplantsoen 13, Amsterdam",4.801831,52.347786,NaN,F88
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12809,14292,Container object (125303),https://api.data.amsterdam.nl/afval/v1/contain...,1,"Karel Doormanstraat 111, Amsterdam",412,MCB Bovengrondse Glas,4.00,386.0,125303,...,119162-488116-E37d,E,E37d,Point,37d - Landlust Zuid,"Karel Doormanstraat 111, Amsterdam",4.860868,52.379729,NaN,E37
12810,14293,Container object (125306),https://api.data.amsterdam.nl/afval/v1/contain...,1,"Julius Pergerstraat 2, Amsterdam",3588,5m3 KHC Rest Amsterdam Standaard 1192*1192*2341,4.69,500.0,125306,...,NaN,M,M51c,Point,51c - Haveneiland Noord,"Julius Pergerstraat 2, Amsterdam",5.002299,52.351908,NaN,M51
12811,14294,Container object (125308),https://api.data.amsterdam.nl/afval/v1/contain...,1,"Julius Pergerstraat 2, Amsterdam",3588,5m3 KHC Rest Amsterdam Standaard 1192*1192*2341,4.69,500.0,125308,...,NaN,M,M51c,Point,51c - Haveneiland Noord,"Julius Pergerstraat 2, Amsterdam",5.002318,52.351920,NaN,M51
12812,14295,Container object (125310),https://api.data.amsterdam.nl/afval/v1/contain...,1,"Julius Pergerstraat 128, Amsterdam",3588,5m3 KHC Rest Amsterdam Standaard 1192*1192*2341,4.69,500.0,125310,...,NaN,M,M51c,Point,51c - Haveneiland Noord,"Julius Pergerstraat 128, Amsterdam",5.002338,52.351940,NaN,M51
12813,14296,Container object (125312),https://api.data.amsterdam.nl/afval/v1/contain...,1,"Julius Pergerstraat 128, Amsterdam",3588,5m3 KHC Rest Amsterdam Standaard 1192*1192*2341,4.69,500.0,125312,...,NaN,M,M51c,Point,51c - Haveneiland Noord,"Julius Pergerstraat 128, Amsterdam",5.002357,52.351955,NaN,M51

In [40]:
# Selected subset of neightbourhood codes and number of containers in it 
container_count = merged_data.groupby(['buurt_clean'])['buurt_clean'].agg(['count'])
container_count.head()

             count
buurt_clean
A00              2
A01             12
A02             20
A03             18
A04             35

In [36]:
# Merged (by inner join) the container_count set with our population data 
#population data is missing the buurt_code to merge it
final_table = pd.merge(container_count, population_data, left_on = "buurt_clean", right_on = "buurt_code" )
final_table.head()

KeyError: 'buurt_code'

In [29]:
final2_table = final_table.drop(['2016','2017','2018','2019'], axis = 1)
final2_table

    count  buurt_id buurt_code                    buurt   2020
0       2         1        A00    Burgwallen-Oude Zijde   4465
1      12         2        A01  Burgwallen-Nieuwe Zijde   4134
2      20         3        A02      Grachtengordel-West   6440
3      18         4        A03      Grachtengordel-Zuid   5436
4      35         5        A04       Nieuwmarkt/Lastage   9703
..    ...       ...        ...                      ...    ...
93    258       119        T94     Bijlmer-Oost (E,G,K)  29788
94     16       120        T95               Nellestein   3037
95    158       121        T96   Holendrecht/Reigersbos  18388
96     91       122        T97                     Gein  11327
97      9       123        T98                 Driemond   1620

[98 rows x 5 columns]

In [40]:
final2_table['2020'] = pd.to_numeric(final2_table['2020'])
final2_table['capita_per_container']=final2_table['2020']/final2_table['count']
final2_table

,count,buurt_id,buurt_code,buurt,2020,per_capita,capita_per_container
0,2,1,A00,Burgwallen-Oude Zijde,4465,2232.500000,2232.500000
1,12,2,A01,Burgwallen-Nieuwe Zijde,4134,344.500000,344.500000
2,20,3,A02,Grachtengordel-West,6440,322.000000,322.000000
3,18,4,A03,Grachtengordel-Zuid,5436,302.000000,302.000000
4,35,5,A04,Nieuwmarkt/Lastage,9703,277.228571,277.228571
...,...,...,...,...,...,...,...
93,258,119,T94,"Bijlmer-Oost (E,G,K)",29788,115.457364,115.457364
94,16,120,T95,Nellestein,3037,189.812500,189.812500
95,158,121,T96,Holendrecht/Reigersbos,18388,116.379747,116.379747
96,91,122,T97,Gein,11327,124.472527,124.472527
97,9,123,T98,Driemond,1620,180.000000,180.000000

In [44]:
final2_table.sort_values(by=['capita_per_container'], ascending=True).set_index(['buurt_id'])

,count,buurt_code,buurt,2020,per_capita,capita_per_container
buurt_id,,,,,,
106,224,N71,Noordelijke IJ-oevers-West,4759,21.245536,21.245536
73,62,K59,Prinses Irenebuurt e.o.,1342,21.645161,21.645161
75,286,K91,Buitenveldert-Oost,8099,28.318182,28.318182
74,470,K90,Buitenveldert-West,13613,28.963830,28.963830
91,92,M57,Betondorp,3234,35.152174,35.152174
...,...,...,...,...,...,...
2,12,A01,Burgwallen-Nieuwe Zijde,4134,344.500000,344.500000
108,6,N73,Waterland,2378,396.333333,396.333333
8,14,A07,De Weteringschans,7294,521.000000,521.000000
99,2,N64,Nieuwendammerdijk/Buiksloterdijk,1659,829.500000,829.500000
1,2,A00,Burgwallen-Oude Zijde,4465,2232.500000,2232.500000

In [ ]:
#csv files import --> make same heat map but for capita_per_container instead of wells