In [4]:
import numpy as np 
import pandas as pd 
import gmaps 
import gmaps.datasets 
import pymysql
from sqlalchemy import create_engine

In [5]:
# Connection Details
db_engine = create_engine('mysql+pymysql://student:IHisCool!@34.77.233.175/waste')

In [14]:
# wells = pd.read_sql("SELECT * FROM wells", db_engine)
wells = pd.read_csv("data/wells.csv")

In [15]:
wells.head()

,well_id,stadsdeel,buurt_code,well_type,well_neighbourhood,well_address,well_longitude,well_latitude,postal_code
0,2829,F,F86a,Point,86a - Overtoomse Veld Noord,"Jan Evertsenstraat 717, Amsterdam",4.835745,52.369817,NaN
1,3235,F,F86b,Point,86b - Overtoomse Veld Zuid,"Derkinderenstraat 11, Amsterdam",4.840386,52.360623,NaN
2,3493,F,F85a,Point,85a - Oostoever Sloterplas,"Uffizilaan 11, Amsterdam",4.831429,52.366767,NaN
3,3559,F,F85a,Point,85a - Oostoever Sloterplas,"Guggenheimlaan 59, Amsterdam",4.829438,52.367816,NaN
4,3565,F,F85a,Point,85a - Oostoever Sloterplas,"Mezquitalaan 43, Amsterdam",4.831705,52.369232,NaN

In [10]:
#need to define the range of longitude and latitude coordinates
print("Range:\n\nwell_longitude")
print(wells["well_longitude"].min())
print(wells["well_longitude"].max())

Range:

well_longitude
4.68168070000001
5.04689269999994

In [11]:
#need to define the range of longitude and latitude coordinates
print("Range:\n\nwell_latitude")
print(wells["well_latitude"].min())
print(wells["well_latitude"].max())

Range:

well_latitude
52.1318433
52.4243673

In [14]:
#divide longitude into 100 equal intervals
Lon = np.arange(wells["well_longitude"].min(), wells["well_longitude"].max(), (wells["well_longitude"].max()-wells["well_longitude"].min())/100)
print(Lon)
len(Lon)

[4.6816807  4.68533282 4.68898494 4.69263706 4.69628918 4.6999413
 4.70359342 4.70724554 4.71089766 4.71454978 4.7182019  4.72185402
 4.72550614 4.72915826 4.73281038 4.7364625  4.74011462 4.74376674
 4.74741886 4.75107098 4.7547231  4.75837522 4.76202734 4.76567946
 4.76933158 4.7729837  4.77663582 4.78028794 4.78394006 4.78759218
 4.7912443  4.79489642 4.79854854 4.80220066 4.80585278 4.8095049
 4.81315702 4.81680914 4.82046126 4.82411338 4.8277655  4.83141762
 4.83506974 4.83872186 4.84237398 4.8460261  4.84967822 4.85333034
 4.85698246 4.86063458 4.8642867  4.86793882 4.87159094 4.87524306
 4.87889518 4.8825473  4.88619942 4.88985154 4.89350366 4.89715578
 4.9008079  4.90446002 4.90811214 4.91176426 4.91541638 4.9190685
 4.92272062 4.92637274 4.93002486 4.93367698 4.9373291  4.94098122
 4.94463334 4.94828546 4.95193758 4.9555897  4.95924182 4.96289394
 4.96654606 4.97019818 4.9738503  4.97750242 4.98115454 4.98480666
 4.98845878 4.9921109  4.99576302 4.99941514 5.00306726 5.00671938
 5.0103715  5.01402362 5.01767574 5.02132786 5.02497998 5.0286321
 5.03228422 5.03593634 5.03958846 5.04324058]

100

In [18]:
Lat = np.arange(wells["well_latitude"].min(), wells["well_latitude"].max(), (wells["well_latitude"].max()-wells["well_latitude"].min())/100)
print(Lat)
len(Lat)

[52.1318433  52.13476854 52.13769378 52.14061902 52.14354426 52.1464695
 52.14939474 52.15231998 52.15524522 52.15817046 52.1610957  52.16402094
 52.16694618 52.16987142 52.17279666 52.1757219  52.17864714 52.18157238
 52.18449762 52.18742286 52.1903481  52.19327334 52.19619858 52.19912382
 52.20204906 52.2049743  52.20789954 52.21082478 52.21375002 52.21667526
 52.2196005  52.22252574 52.22545098 52.22837622 52.23130146 52.2342267
 52.23715194 52.24007718 52.24300242 52.24592766 52.2488529  52.25177814
 52.25470338 52.25762862 52.26055386 52.2634791  52.26640434 52.26932958
 52.27225482 52.27518006 52.2781053  52.28103054 52.28395578 52.28688102
 52.28980626 52.2927315  52.29565674 52.29858198 52.30150722 52.30443246
 52.3073577  52.31028294 52.31320818 52.31613342 52.31905866 52.3219839
 52.32490914 52.32783438 52.33075962 52.33368486 52.3366101  52.33953534
 52.34246058 52.34538582 52.34831106 52.3512363  52.35416154 52.35708678
 52.36001202 52.36293726 52.3658625  52.36878774 52.37171298 52.37463822
 52.37756346 52.3804887  52.38341394 52.38633918 52.38926442 52.39218966
 52.3951149  52.39804014 52.40096538 52.40389062 52.40681586 52.4097411
 52.41266634 52.41559158 52.41851682 52.42144206]

100

In [21]:
Well_counts = np.zeros((100,100)) 
#crime_2018 = crime[crime['year'] == 2018]

In [24]:
((wells["well_latitude"].max()-wells["well_latitude"].min())/100)/2

0.001462620000000001

In [25]:
((wells["well_longitude"].max()-wells["well_longitude"].min())/100)/2

0.0018260599999996518

In [30]:
for a in range(len(wells)):

    for b1 in range(100):

        if Lat[b1]-0.001462620000000001 <= wells['well_latitude'].values[a] < Lat[b1] + 0.001462620000000001:

            for b2 in range(100): 

                if Lon[b2]-0.0018260599999996518 <= wells['well_longitude'].values[a] < Lon[b2] + 0.0018260599999996518:

                    Well_counts[b1,b2] += 1

In [34]:
type(Well_counts)

numpy.ndarray

In [36]:
Well_counts

array([[0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       ...,
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.]])

In [54]:
gmaps.configure(api_key="AI...")

longitude_values = [Lon,]*100 
latitude_values = np.repeat(Lat,100) 
Well_counts.resize((10000,)) 

heatmap_data = {'Counts': Well_counts, 'latitude': latitude_values, 'longitude' : np.concatenate(longitude_values)} 
df = pd.DataFrame(data=heatmap_data) 

locations = df[['latitude', 'longitude']] 
weights = df['Counts'] 
fig = gmaps.figure() 
heatmap_layer = gmaps.heatmap_layer(locations, weights=weights) 
fig.add_layer(gmaps.heatmap_layer(locations, weights=weights)) 
fig

Figure(layout=FigureLayout(height='420px'))