# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

In [2]:
# import numpy and pandas
import pandas as pd
import numpy as np
from scipy.stats import ttest_ind

# Challenge 1 - Independent Sample T-tests

In this challenge, we will be using the Pokemon dataset. Before applying statistical methods to this data, let's first examine the data.

To load the data, run the code below.

In [3]:
# Run this code:
pokemon = pd.read_csv('../pokemon.csv')

Let's start off by looking at the `head` function in the cell below.

In [4]:
# Your code here:
pokemon.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

The first thing we would like to do is compare the legendary Pokemon to the regular Pokemon. To do this, we should examine the data further. What is the count of legendary vs. non legendary Pokemons?

In [5]:
# Your code here:
pokemon['Legendary'].value_counts()

False    735
True      65
Name: Legendary, dtype: int64

Compute the mean and standard deviation of the total points for both legendary and non-legendary Pokemon.

In [6]:
# Your code here:
pokemon.groupby('Legendary')['Total'].agg([np.mean, np.std])

                 mean         std
Legendary
False      417.213605  106.760417
True       637.384615   60.937389

The computation of the mean might give us a clue regarding how the statistical test may turn out; However, it certainly does not prove whether there is a significant difference between the two groups.

In the cell below, use the `ttest_ind` function in `scipy.stats` to compare the the total points for legendary and non-legendary Pokemon. Since we do not have any information about the population, assume the variances are not equal.

In [7]:
# Your code here:
ttest_ind(pokemon.Total[pokemon['Legendary'] == True], pokemon.Total[pokemon['Legendary'] == False], equal_var=False)

Ttest_indResult(statistic=25.8335743895517, pvalue=9.357954335957444e-47)

What do you conclude from this test? Write your conclusions below.

In [8]:
# Your conclusions here:
# H0 - No Difference
# H1 - Difference
print("With the results above we can easilly reject the null hypotesis")

With the results above we can easilly reject the null hypotesis

How about we try to compare the different types of pokemon? In the cell below, list the types of Pokemon from column `Type 1` and the count of each type.

In [9]:
# Your code here:
type_1 = pokemon['Type 1'].value_counts()
type_1

Water       112
Normal       98
Grass        70
Bug          69
Psychic      57
Fire         52
Rock         44
Electric     44
Ghost        32
Dragon       32
Ground       32
Dark         31
Poison       28
Steel        27
Fighting     27
Ice          24
Fairy        17
Flying        4
Name: Type 1, dtype: int64

Since water is the largest group of Pokemon, compare the mean and standard deviation of water Pokemon to all other Pokemon.

In [10]:
# Your code here:
type_group = pokemon.groupby('Type 1').agg([np.mean, np.std])
type_group

                   #                   Total                     HP  \
                mean         std        mean         std       mean
Type 1
Bug       334.492754  210.445160  378.927536  117.875223  56.884058
Dark      461.354839  176.022072  445.741935  109.126217  66.806452
Dragon    474.375000  170.190169  550.531250  146.267538  83.312500
Electric  363.500000  202.731063  443.409091  105.721952  59.795455
Fairy     449.529412  271.983942  413.176471  123.781680  74.117647
Fighting  363.851852  218.565200  416.444444  102.464378  69.851852
Fire      327.403846  226.262840  458.076923  109.760496  69.903846
Flying    677.750000   42.437209  485.000000  161.400124  70.750000
Ghost     486.500000  209.189218  439.562500  110.072685  64.437500
Grass     344.871429  200.264385  421.142857  106.650626  67.271429
Ground    356.281250  204.899855  437.500000  123.913081  73.781250
Ice       423.541667  175.465834  433.458333  108.281027  72.000000
Normal    319.173469  193.854820  401.683673  115.733038  77.275510
Poison    251.785714  228.801767  399.142857   92.358687  67.250000
Psychic   380.807018  194.600455  475.947368  139.026645  70.631579
Rock      392.727273  213.746140  453.750000  108.059227  65.363636
Steel     442.851852  164.847180  487.703704  115.420907  65.222222
Water     303.089286  188.440807  430.455357  113.188266  72.062500

                         Attack                Defense               Sp. Atk  \
                std        mean        std        mean        std       mean
Type 1
Bug       16.328914   70.971014  37.040904   70.724638  33.617609  53.869565
Dark      21.078297   88.387097  25.774247   70.225806  25.121982  74.645161
Dragon    23.795415  112.125000  33.742622   86.375000  24.102938  96.843750
Electric  17.306511   69.090909  23.764169   66.295455  24.757033  90.022727
Fairy     23.587291   61.529412  29.751298   65.705882  18.979478  78.529412
Fighting  25.852695   96.777778  28.290163   65.925926  18.578163  53.111111
Fire      19.404123   84.769231  28.769275   67.769231  23.658200  88.980769
Flying    20.694202   78.750000  37.500000   66.250000  21.360009  94.250000
Ghost     31.685895   73.781250  29.629687   81.187500  32.551138  79.343750
Grass     19.516564   73.214286  25.380520   70.800000  24.485192  77.500000
Ground    25.662492   95.750000  33.059087   84.843750  33.786912  56.468750
Ice       21.286861   72.750000  27.289511   71.416667  34.387708  77.541667
Normal    36.233430   73.469388  30.295862   59.846939  23.771833  55.816327
Poison    19.665019   74.678571  19.630010   68.821429  21.066128  60.428571
Psychic   28.421340   71.456140  42.309265   67.684211  28.359401  98.403509
Rock      20.833884   92.863636  35.325458  100.795455  36.447209  63.340909
Steel     16.044010   92.703704  30.388276  126.370370  44.806548  67.518519
Water     27.487026   74.151786  28.377192   72.946429  27.773809  74.812500

                       Sp. Def                  Speed            Generation  \
                std       mean        std        mean        std       mean
Type 1
Bug       26.697055  64.797101  32.126395   61.681159  33.227599   3.217391
Dark      33.200952  69.516129  24.799020   76.161290  27.768203   4.032258
Dragon    42.257360  88.843750  29.884843   83.031250  23.239961   3.875000
Electric  29.740340  73.704545  22.601275   84.500000  26.691607   3.272727
Fairy     28.548462  84.705882  29.721130   48.588235  23.305200   4.117647
Fighting  28.159345  64.703704  22.745777   66.074074  26.054567   3.370370
Fire      30.042121  72.211538  22.619908   74.442308  25.245783   3.211538
Flying    34.769479  72.500000  22.173558  102.500000  32.098806   5.500000
Ghost     32.561217  76.468750  26.038414   64.343750  28.020280   4.187500
Grass     27.244864  70.428571  21.446645   61.928571  28.506456   3.357143
Ground    28.135598  62.750000  21.267877   63.906250  27.450083   3.156250
Ice       26.604967  76.291667  37.213227   63.458333  24.498410   3.541667
Normal    23.946395  63.724490  25.142801   71.551020  28.406157   3.051020
Poison    19.322657  64.392857  19.887348   63.571429  22.631392   2.535714
Psychic   38.539340  86.280702  31.126329   81.491228  37.335412   3.385965
Rock      28.249670  75.477273  32.265965   55.909091  29.903580   3.454545
Steel     31.458606  80.629630  29.018758   55.259259  25.846578   3.851852
Water     29.030128  70.517857  28.460493   65.964286  23.019353   2.857143

                   Legendary
               std      mean       std
Type 1
Bug       1.598433  0.000000  0.000000
Dark      1.353609  0.064516  0.249731
Dragon    1.431219  0.375000  0.491869
Electric  1.604697  0.090909  0.290803
Fairy     2.147160  0.058824  0.242536
Fighting  1.800601  0.000000  0.000000
Fire      1.850665  0.096154  0.297678
Flying    0.577350  0.500000  0.577350
Ghost     1.693203  0.062500  0.245935
Grass     1.579173  0.042857  0.203997
Ground    1.588454  0.125000  0.336011
Ice       1.473805  0.083333  0.282330
Normal    1.575407  0.020408  0.142119
Poison    1.752927  0.000000  0.000000
Psychic   1.644845  0.245614  0.434277
Rock      1.848375  0.090909  0.290803
Steel     1.350319  0.148148  0.362014
Water     1.558800  0.035714  0.186411

Perform a hypothesis test comparing the mean of total points for water Pokemon to all non-water Pokemon. Assume the variances are equal.

In [11]:
# Your code here:
ttest_ind(pokemon.Total[pokemon['Type 1'] == 'Water'], pokemon.Total[pokemon['Type 1'] != 'Water'], equal_var=True)

Ttest_indResult(statistic=-0.4418547448849676, pvalue=0.6587140317488793)

Write your conclusion below.

In [12]:
# Your conclusions here:
print("P Value is quite high so the null hypotesis is not rejected")

P Value is quite high so the null hypotesis is not rejected

# Challenge 2 - Matched Pairs Test

In this challenge we will compare dependent samples of data describing our Pokemon. Our goal is to see whether there is a significant difference between each Pokemon's defense and attack scores. Our hypothesis is that the defense and attack scores are equal. In the cell below, import the `ttest_rel` function from `scipy.stats` and compare the two columns to see if there is a statistically significant difference between them.

In [13]:
# Your code here:
# H0 = No difference between Attack and Defense
# H1 = Siginificatn difference between Attack and Defense
from scipy.stats import ttest_rel
ttest_rel(pokemon['Attack'], pokemon['Defense'])

Ttest_relResult(statistic=4.325566393330478, pvalue=1.7140303479358558e-05)

Describe the results of the test in the cell below.

In [14]:
# Your conclusions here:
print("P Value is quite low so we reject the null hypothesis. Meaning that there is a significant difference between Attack and Defense")

P Value is quite low so we reject the null hypothesis. Meaning that there is a significant difference between Attack and Defense

We are also curious about whether therer is a significant difference between the mean of special defense and the mean of special attack. Perform the hypothesis test in the cell below.

In [15]:
# Your code here:
# H0 - No Difference
# H1 - Difference
ttest_rel(pokemon['Sp. Atk'], pokemon['Sp. Def'])

Ttest_relResult(statistic=0.853986188453353, pvalue=0.3933685997548122)

Describe the results of the test in the cell below.

In [16]:
# Your conclusions here:
print('Since p value is quite high we reject the null hypotesis')

Since p value is quite high we reject the null hypotesis

As you may recall, a two sample matched pairs test can also be expressed as a one sample test of the difference between the two dependent columns.

Import the `ttest_1samp` function and perform a one sample t-test of the difference between defense and attack. Test the hypothesis that the difference between the means is zero. Confirm that the results of the test are the same.

In [17]:
# Your code here:
# H0 - Difference between the means is not 0
# H1 - Difference between the means is 0 
from scipy.stats import ttest_1samp
stats,p = ttest_1samp(pokemon['Attack'] - pokemon['Defense'], 0)
print("P Value is quite low (",p,") so we can reject the null hypoteses.")
pokemon['Difference'] = pokemon['Defense'] - pokemon['Attack']
mean_difference = pokemon['Defense'].mean() - pokemon['Total'].mean()
print("We can confirm the presented hypoteses by calculating the difference of the means, which is:",mean_difference)

P Value is quite low ( 1.7140303479358558e-05 ) so we can reject the null hypoteses.
We can confirm the presented hypoteses by calculating the difference of the means, which is: -361.26

# Bonus Challenge - The Chi-Square Test

The Chi-Square test is used to determine whether there is a statistically significant difference in frequencies. In other words, we are testing whether there is a relationship between categorical variables or rather when the variables are independent. This test is an alternative to Fisher's exact test and is used in scenarios where sample sizes are larger. However, with a large enough sample size, both tests produce similar results. Read more about the Chi Squared test [here](https://en.wikipedia.org/wiki/Chi-squared_test).

In the cell below, create a contingency table using `pd.crosstab` comparing whether a Pokemon is legenadary or not and whether the Type 1 of a Pokemon is water or not.

In [ ]:
# Your code here:

Perform a chi-squared test using the `chi2_contingency` function in `scipy.stats`. You can read the documentation of the function [here](https://docs.scipy.org/doc/scipy-0.15.1/reference/generated/scipy.stats.chi2_contingency.html).

In [ ]:
# Your code here:

Based on a 95% confidence, should we reject the null hypothesis?

In [ ]:
# Your answer here: