# Before you start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

In [17]:
# import numpy and pandas
import numpy as np
import pandas as pd
from scipy import stats

# Challenge 1 - Exploring the Data

In this challenge, we will examine all salaries of employees of the City of Chicago. We will start by loading the dataset and examining its contents. Please, load the data using Ironhack's database (db: employees, table: employees_advanced).

In [3]:
# Your code here:
salaries = pd.read_csv('../data/Current_Employee_Names__Salaries__and_Position_Titles.csv')

Examine the `salaries` dataset using the `head` function below.

In [4]:
# Your code here:
salaries.head()

,Name,Job Titles,Department,Full or Part-Time,Salary or Hourly,Typical Hours,Annual Salary,Hourly Rate
0,"ADRIANO, RACQUEL ANNE",PARAMEDIC,FIRE,F,Salary,NaN,72510.0,NaN
1,"AFFANEH, MAHIR A",POLICE OFFICER,POLICE,F,Salary,NaN,93354.0,NaN
2,"AFOENYI, PHYLLIS",TITLE V PROGRAM TRAINEE I,FAMILY & SUPPORT,P,Hourly,20.0,NaN,13.0
3,"AGAR, BULENT B",DEPUTY COMMISSIONER,WATER MGMNT,F,Salary,NaN,132972.0,NaN
4,"AGEE, LAWRENCE",POLICE OFFICER,POLICE,F,Salary,NaN,90024.0,NaN

We see from looking at the `head` function that there is quite a bit of missing data. Let's examine how much missing data is in each column. Produce this output in the cell below

In [5]:
# Your code here:
salaries.isnull().sum()

Name                     0
Job Titles               0
Department               0
Full or Part-Time        0
Salary or Hourly         0
Typical Hours        25528
Annual Salary         8174
Hourly Rate          25528
dtype: int64

Let's also look at the count of hourly vs. salaried employees. Write the code in the cell below

In [99]:
# Your code here:
hourly_vs_salary = salaries.groupby('Salary or Hourly').agg('count')
hourly_vs_salary

,Name,Job Titles,Department,Full or Part-Time,Typical Hours,Annual Salary,Hourly Rate
Salary or Hourly,,,,,,,
Hourly,8174,8174,8174,8174,8174,0,8174
Salary,25528,25528,25528,25528,0,25528,0

What this information indicates is that the table contains information about two types of employees - salaried and hourly. Some columns apply only to one type of employee while other columns only apply to another kind. This is why there are so many missing values. Therefore, we will not do anything to handle the missing values.

There are different departments in the city. List all departments and the count of employees in each department.

In [14]:
# Your code here:
salaries['Department'].unique()

array(['FIRE', 'POLICE', 'FAMILY & SUPPORT', 'WATER MGMNT', 'AVIATION',
       'TRANSPORTN', 'STREETS & SAN', 'FINANCE', 'LAW', 'CITY COUNCIL',
       'DAIS', 'OEMC', 'COPA', 'HEALTH', 'BUSINESS AFFAIRS',
       'HUMAN RESOURCES', 'PUBLIC LIBRARY', 'CULTURAL AFFAIRS', 'HOUSING',
       'PROCUREMENT', 'BUILDINGS', 'ANIMAL CONTRL', 'CITY CLERK',
       'HOUSING & ECON DEV', 'BOARD OF ELECTION', 'PUBLIC SAFETY ADMIN',
       'DISABILITIES', 'INSPECTOR GEN', 'HUMAN RELATIONS',
       "MAYOR'S OFFICE", 'TREASURER', 'BUDGET & MGMT', 'BOARD OF ETHICS',
       'POLICE BOARD', 'ADMIN HEARNG', 'LICENSE APPL COMM'], dtype=object)

# Challenge 2 - Hypothesis Tests

In this section of the lab, we will test whether the hourly wage of all hourly workers is significantly different from $30/hr. Import the correct one sample test function from scipy and perform the hypothesis test for a 95% two sided confidence interval.

In [74]:
# Your code here:
hourly_salaries = salaries[salaries['Salary or Hourly'] == 'Hourly']
hourly_salaries_mean = np.mean(hourly_salaries['Hourly Rate'])
hourly_salaries_std = np.std(hourly_salaries['Hourly Rate'])
statistics = stats.ttest_1samp(hourly_salaries['Hourly Rate'], 30)
print(hourly_salaries_mean, hourly_salaries_std)
print("P Value:", statistics[1])

34.58644971862002 13.284730255474098
P Value: 3.825475847673794e-202

We are also curious about salaries in the police force. The chief of police in Chicago claimed in a press briefing that salaries this year are higher than last year's mean of $86000/year a year for all salaried employees. Test this one sided hypothesis using a 95% confidence interval.

Hint: A one tailed test has a p-value that is half of the two tailed p-value. If our hypothesis is greater than, then to reject, the test statistic must also be positive.

In [50]:
# Your code here:
police_salaries = salaries[((salaries['Department'] == 'POLICE') | 
                            (salaries['Department'] == 'POLICE BOARD')) & 
                           (salaries['Salary or Hourly'] == 'Salary')]

statistics = stats.ttest_1samp(police_salaries['Annual Salary'], 86000)
print(statistics)

Ttest_1sampResult(statistic=18.519537603296808, pvalue=1.178882027843547e-75)

Using the `crosstab` function, find the department that has the most hourly workers.

In [59]:
# Your code here:
hourly_department = pd.crosstab(salaries['Department'],salaries['Salary or Hourly']).sort_values(by='Hourly',ascending=False).reset_index()
hourly_department

Salary or Hourly           Department  Hourly  Salary
0                       STREETS & SAN    1846     329
1                         WATER MGMNT    1558     356
2                            AVIATION    1214     642
3                                OEMC    1077     660
4                                DAIS     745     288
5                          TRANSPORTN     726     387
6                    FAMILY & SUPPORT     357     299
7                      PUBLIC LIBRARY     356     732
8                        CITY COUNCIL      74     288
9                                 LAW      48     350
10                PUBLIC SAFETY ADMIN      48     196
11                            FINANCE      45     499
12                             POLICE      24   13824
13                     MAYOR'S OFFICE      17      87
14                      ANIMAL CONTRL      12      63
15                   CULTURAL AFFAIRS      10      64
16                   BUSINESS AFFAIRS       7     160
17                 HOUSING & ECON DEV       3     151
18                        PROCUREMENT       2      82
19                             HEALTH       2     465
20                      BUDGET & MGMT       2      42
21                       DISABILITIES       1      27
22                       POLICE BOARD       0       2
23                          TREASURER       0      28
24                       ADMIN HEARNG       0      38
25                  LICENSE APPL COMM       0       1
26                      INSPECTOR GEN       0      95
27                    HUMAN RESOURCES       0      75
28                    HUMAN RELATIONS       0      17
29                               FIRE       0    4627
30                               COPA       0     123
31                         CITY CLERK       0      88
32                          BUILDINGS       0     258
33                    BOARD OF ETHICS       0       8
34                  BOARD OF ELECTION       0     111
35                            HOUSING       0      66

The workers from the department with the most hourly workers have complained that their hourly wage is less than $35/hour. Using a one sample t-test, test this one-sided hypothesis at the 95% confidence level.

In [72]:
# Your code here:
department = hourly_department.values[0][0]
department_salaries = salaries[(salaries['Department'] == department) & (salaries['Salary or Hourly'] == 'Hourly')]
department_salaries

statistics = stats.ttest_1samp(department_salaries['Hourly Rate'], 35)
print("P Value:", statistics[1])
print("Statistics:", statistics[0])
print("p is lower than 0.05 so the hipoteses is rejected")

P Value: 6.580474443773579e-05
Statistics: 4.000138803968834

# Challenge 3: To practice - Constructing Confidence Intervals

While testing our hypothesis is a great way to gather empirical evidence for accepting or rejecting the hypothesis, another way to gather evidence is by creating a confidence interval. A confidence interval gives us information about the true mean of the population. So for a 95% confidence interval, we are 95% sure that the mean of the population is within the confidence interval. 
).

To read more about confidence intervals, click [here](https://en.wikipedia.org/wiki/Confidence_interval).


In the cell below, we will construct a 95% confidence interval for the mean hourly wage of all hourly workers. 

The confidence interval is computed in SciPy using the `t.interval` function. You can read more about this function [here](https://docs.scipy.org/doc/scipy-0.14.0/reference/generated/scipy.stats.t.html).

To compute the confidence interval of the hourly wage, use the 0.95 for the confidence level, number of rows - 1 for degrees of freedom, the mean of the sample for the location parameter and the standard error for the scale. The standard error can be computed using [this](https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.sem.html) function in SciPy.

In [115]:
# Your code here:
hourly_salaries
degrees_freedom = len(hourly_salaries)-1
l = np.mean(hourly_salaries['Hourly Rate'])
s = stats.sem(hourly_salaries['Hourly Rate'])
conf_level = 0.95
conf_interval = stats.t.interval(conf_level, df=degrees_freedom, loc=l, scale=s)
print(conf_interval)
print("The 95% interval is between", round(conf_interval[0],2), "and",round(conf_interval[1],2))

(34.57723483586675, 34.59566460137329)
The 95% interval is between 34.58 and 34.6

Now construct the 95% confidence interval for all salaried employeed in the police in the cell below.

In [96]:
# Your code here:
police_salaries
degrees_freedom = len(police_salaries)-1
l = np.mean(police_salaries['Annual Salary'])
s = stats.sem(police_salaries['Annual Salary'])
conf_level = 0.95
conf_interval = stats.t.interval(conf_level, df=degrees_freedom, loc=l, scale=s)
conf_interval
print("The 95% interval is between", round(conf_interval[0],2), "and",round(conf_interval[1],2))

The 95% interval is between 88534.27 and 89134.24

# Bonus Challenge - Hypothesis Tests of Proportions

Another type of one sample test is a hypothesis test of proportions. In this test, we examine whether the proportion of a group in our sample is significantly different than a fraction. 

You can read more about one sample proportion tests [here](http://sphweb.bumc.bu.edu/otlt/MPH-Modules/BS/SAS/SAS6-CategoricalData/SAS6-CategoricalData2.html).

In the cell below, use the `proportions_ztest` function from `statsmodels` to perform a hypothesis test that will determine whether the number of hourly workers in the City of Chicago is significantly different from 25% at the 95% confidence level.

In [134]:
import statsmodels.api as sm
hourly_vs_salary

,Name,Job Titles,Department,Full or Part-Time,Typical Hours,Annual Salary,Hourly Rate
Salary or Hourly,,,,,,,
Hourly,8174,8174,8174,8174,8174,0,8174
Salary,25528,25528,25528,25528,0,25528,0

In [135]:
# Your code here:
hourly_vs_salary
nobs = len(salaries)
count  = hourly_vs_salary['Name']['Hourly']
value = 0.25
res = sm.proportions_ztest(count, nobs, value) 
# print(count)

AttributeError: module 'statsmodels.api' has no attribute 'proportions_ztest'